<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="iRadiate.Interfaces.DICOM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <iRadiate.Interfaces.DICOM.Properties.Settings>
            <setting name="DatabaseConnString" serializeAs="String">
                <value>Server = 10.49.174.96\SQLEXPRESS; Database = DicomInterface; User Id = sa; Password = mona^*vale1317</value>
            </setting>
            <setting name="DicomModuleLauncherVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DicomModuleLauncherOrder" serializeAs="String">
                <value>5</value>
            </setting>
        </iRadiate.Interfaces.DICOM.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>